<div class="wrapper">

  <a class="join" href="{{thisUrl}}#popupAdd" (click)="stateAdd = true">
    <a class="joinsign">Добавить читателя</a>
  </a>

  <div class="search">
    <form action="" class="sline">
      <input [(ngModel)]="str" (input)="findUser(str)" name="findUser" type="text" placeholder="Поиск">
    </form>
  </div>

</div>


<!--Таблица-->
<app-table
  [headings]="headingsLib"
  [objectKeys]="['userName', 'userLastName', 'userLogin', 'userPass']"
  [arrayObects]="students"
  [popupOpen]="true"
  [popupEdit]="true"
  [popupDelete]="true"
  (object)="touchStudentObj = $event; stateEditOrDelete = true"
>
</app-table>


<app-popup-stud
  [students]="viewStudents"

  [addUser]="stateAdd"
  (stateAdd)="stateAdd = $event"

  [touchStudent]="{value: touchStudentObj, state: stateEditOrDelete}"
  (stateEditOrDelete)="stateEditOrDelete = $event"
></app-popup-stud>
