@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

table {
  width: 100%;
}

td {
  padding: 10px;
  text-align: center;
}

th {
  padding: 10px;
}






/*-----------------[Кнопка поиска]-----------------*/

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 40px;
}

.search > form > input {
  width: 472px;
  height: 56px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: normal;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  outline: none;
  padding-left: 57px;
}

.search > form > input:focus {
  border: none;
  outline: none;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 57px;
}

.search > form:focus {
  border: none;
}


/*-----------------[Кнопка добавления]-----------------*/


.join {
  display: flex;
  background-color: #5E81F4;
  border-radius: 10px;
  width: 192px;
  height: 48px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.join:active {
  transform: scale(.95);
}

.joinsign {

  display: table-cell;
  margin: auto;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 600;
}


/*-----------------[POP-UP]-----------------*/


.buttonEdit {
  background-color: #ffd800;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px  10px ;

  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 12px;
  font-weight: 700;
}

.buttonDel {
  background-color: #ff6e79;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px  10px ;

  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 12px;
  font-weight: 700;
}


/*.button {*/
/*  font-size: 1em;*/
/*  padding: 10px;*/
/*  color: #fff;*/
/*  border: 2px solid #06D85F;*/
/*  border-radius: 20px/50px;*/
/*  text-decoration: none;*/
/*  cursor: pointer;*/
/*  transition: all 0.3s ease-out;*/
/*}*/

/*.button:hover {*/
/*  background: #06D85F;*/
/*}*/


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


.popup .close:hover {
  color: #06D85F;
}


.popup .content {
  max-height: 30%;
  overflow: auto;
}




