<div class="wrapper">

  <div class="join">
    <div class="joinsign" (click)="addUser()">Добавить читателя</div>
  </div>

  <div class="search">
    <form action="" class="sline">
      <input [(ngModel)]="str" (input)="findUser(str)" name="findUser" type="text" placeholder="Поиск">
    </form>
  </div>

</div>


<div>
  <table>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Редактирвоать</th>
      <th>Удалить</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{student.userName}}</td>
      <td>{{student.userLastName}}</td>
      <td>{{student.userLogin}}</td>
      <td>{{student.userPass}}</td>
      <td>
        <a class="buttonEdit" href="{{thisUrl}}#popup1" (click)="editUser(student.key)">Редактирвоать</a>
      </td>
      <td>
        <a class="buttonDel" href="{{thisUrl}}#popup2" (click)="deleteUser(student.key)">Удалить</a>
      </td>
    </tr>
  </table>
</div>




<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Here i am</h2>
    <a class="close" href="{{thisUrl}}#">&times;</a>
    <div class="content">
      Thank to pop me out of that button, but now i'm done so you can close this window.
    </div>
  </div>
</div>

<div id="popup2" class="overlay">
  <div class="popup">
    <h2>Here i am</h2>
    <a class="close" href="{{thisUrl}}#">&times;</a>
    <div class="content">
      Thank to pop me out of that button, but now i'm done so you can close this window.
    </div>
  </div>
</div>

