

<!--<div class="wrap">-->


<!--<table>-->
<!--  <caption>Должники</caption>-->
<!--  <tr>-->
<!--  <th>Студент</th>-->
<!--  <th>Книга</th>-->
<!--  <th>Должен был сдать</th>-->
<!--  </tr>-->

<!--  <tr *ngFor="let student of students" TableTouch>-->
<!--    <td>{{student.student.studName}}<br>{{student.student.studLastName}}</td>-->
<!--    <td>{{student.book.bookName}}<br>({{student.book.bookAuthor}})</td>-->
<!--    <td>{{student.date.returnBookDate | date: 'dd.MM.YYYY'}}</td>-->
<!--  </tr>-->
<!--</table>-->


<!--<table>-->
<!--  <caption>Книги на которые стоит обратить внимание</caption>-->
<!--  <tr>-->
<!--    <th>Книга</th>-->
<!--    <th>Кол-во</th>-->
<!--    <th>Остаток</th>-->
<!--  </tr>-->

<!--  <tr *ngFor="let book of books" TableTouch>-->
<!--    <td>{{book.bookName}}<br>({{book.bookAuthor}})</td>-->
<!--    <td>{{book.bookCount}}</td>-->
<!--    <td>{{book.bookInStock}}</td>-->
<!--  </tr>-->
<!--</table>-->


<!--  <table>-->
<!--    <caption>Топ 3 Книги</caption>-->
<!--    <tr>-->
<!--      <th>Место №</th>-->
<!--      <th>Книга</th>-->
<!--&lt;!&ndash;      <th>Книга</th>&ndash;&gt;-->
<!--    </tr>-->

<!--    <tr *ngFor="let book of booksTop3; index as i" TableTouch>-->
<!--      <td>{{i+1}}</td>-->
<!--      <td>{{book.name}}</td>-->
<!--&lt;!&ndash;      <td>{{book.value}}%</td>&ndash;&gt;-->
<!--    </tr>-->
<!--  </table>-->


<!--</div>-->

