<div class="wrapper">
  <div class="content">
    <div class="left-block">
      <div class="logo">
        <div class="piccont">
          <div class="pic">
            <div class="picsign">
              {{userInfo.userName[0]}}
            </div>
          </div>
        </div>
        <div class="logosign">
          {{userInfo.userName}} {{userInfo.userLastName}}
        </div>
      </div>

      <div class="join" routerLink="/librarian/borrowbook">
        <div class="joinsign">Застолбить книгу</div>
      </div>

      <div class="navleft">

        <ul>

          <li>
            <div class="navleftElement" headingTouch (click)="btnNavigate('dashboard')">
              <img src="assets/icon/{{dynamicImg('dash', 'dashboard')}}.svg">
              Что-то важное
              <div *ngIf="dynamicSelec('dashboard', 'Что-то важное')" class="selection"></div>
            </div>
          </li>

          <li>
            <div class="navleftElement" headingTouch (click)="btnNavigate('borrowbook')">
              <img src="assets/icon/{{dynamicImg('borrowbook', 'borrowbook')}}.svg">
              Книги в обороте
              <div *ngIf="dynamicSelec('borrowbook', 'Книги в обороте')" class="selection"></div>
            </div>
          </li>


          <li>
            <div class="navleftElement" headingTouch (click)="btnNavigate('books')">
              <img src="assets/icon/{{dynamicImg('res', 'books')}}.svg">
              Архив книг
              <div *ngIf="dynamicSelec('books', 'Архив книг')" class="selection"></div>
            </div>
          </li>


          <li>
            <div class="navleftElement" headingTouch (click)="btnNavigate('students')">
              <img src="assets/icon/{{dynamicImg('friends', 'students')}}.svg">
<!--              <img src="assets/icon/friends.svg">-->
              Читатели
              <div *ngIf="dynamicSelec('students', 'Читатели')" class="selection"></div>
            </div>
          </li>
<!--          <li>-->
<!--            <div class="navleftElement">-->
<!--              <img src="assets/icon/chats.svg">-->
<!--              Chats-->
<!--            </div>-->
<!--          </li>-->
          <li>
            <div headingTouch (click)="logout()" class="navleftElement">
              <img src="assets/icon/{{dynamicImg('settings', 'settings')}}.svg">
              Выход
            </div>
          </li>
        </ul>

      </div>

    </div>
    <div class="main">

      <div class="allcourses">
        <p>{{title}}</p>

<!--        <div class="mainnav">-->
<!--          <div class="navmenu">-->
<!--            <ul>-->
<!--              <li>-->
<!--                <div class="sel">-->
<!--                  <p>Ongoing</p>-->


<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="unsel">-->
<!--                  <p>Favorite</p>-->


<!--                </div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="unsel">-->
<!--                  <p>Complete</p>-->

<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="sels">-->
<!--            <ul class="selul">-->
<!--              <li>-->
<!--                <div class="selm"></div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="us"></div>-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="us"></div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
      </div>

      <div class="frameset">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>


</div>
